<?xml version="1.0"?>

<launch>
	<arg name="model" />
    <arg name="publish_rate" default="200" />
    <arg name="gui" default="true" />
    <param name="use_gui" value="$(arg gui)"/>
    <param name="robot_description" textfile="$(find cassie_description)/urdf/cassie_v4.urdf" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />	
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node 
		name="rviz" 
		pkg="rviz" 
		type="rviz" 
		args="-d $(find cassie_description)/rviz/cassie_model_gui.rviz" />
</launch>
